
  body{
    background-image: url("emp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    /* background-color: #29dbc3; */
  }
  .container {
    width: 660px;
    margin: 0 auto;
    background-color: #29dbc3; }
    
    .nav-item{
        background-color: rgb(0, 0, 0);
        width: 20%;
        height: 70px;
        color: rgb(0, 0, 0);
        font-size: 1.5em;

    }
    .active{
        display: none;
    }
    button{
      border: none;
      color: rgb(8, 126, 116);
      background-color: rgb(0, 0, 0);
      margin-top: 10px;

    }
    button:hover{
      cursor: pointer;
    }
    #tab{
      display: none;
    }
    div{
      border: 5px solid rgb(0, 192, 176);
      background-color: rgb(0, 192, 176);
      text-align: center;
      margin: 20px auto;
      border-radius:3%;
      width: 50%;
      height: 70%;
      padding: 10px;
    }
  p{
    font-size: large;
  }
  td{
    font-size: 1.2em;
  }
  
  
  